body{
    display: flex;
}
#etch-container{
    width:480px;
    height:480px;
    background-color: rgb(221, 216, 216);
    display: flex;
    flex-wrap: wrap;
}
.box{
    border: 1px solid red;
    flex-basis: 30px;
    box-sizing: border-box;
    background-color: black;
    flex-grow: 1;
}
.new-background{
    background-color:white;
} 